.footerSection {
  border: 2px solid black;
  /* height: 35vh; */
  /* background-color: hsl(210, 16%, 98%); */
  display: flex;
  justify-content: center;
  align-items: center;
  width:2000px;
  margin-top: 35px;
  background-color: rgba(0,0,0,.75);

 position: relative;
 right: 600px;
 top: 70px;
 
}
.footer-containr {
  /* border: 2px solid rgb(185, 10, 10); */
  width: 250px;
  height: 250px;
  /* margin-top:-30px ; */
  margin-left: 190px;
  margin-bottom: -90px;
}
span {
  /* border: 2px solid rgb(185, 10, 10); */

  /* padding: 7px; */
  font-size: 24px;
  cursor: pointer;
  font-weight: 500;
}
.you:hover {
  color: red !important;
}
.footer-containr p {
  /* border: 2px solid rgb(185, 10, 10); */
  font-size: 14px;
  line-height: 1.8;
  color: #7b7b7b;
  margin-bottom: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  width: 240px;
  margin-top: 22px;
}
.icons {
  /* border: 2px solid rgb(185, 10, 10); */
  display: flex;
  gap: 9px;
  cursor: pointer;
}
.icon:hover {
  color: red !important ;
  /* background-color: red; */
}
